@model List<EnterForum_Consume.Dtos.Comment.ResultCommentDto>

    @foreach (var item in Model)
{
     

<div class="post comment">
    <div class="topwrap">
        <div class="userinfo pull-left">
            <div class="avatar">
                <img src="~/forum/images/avatar.png" alt="">
                <div class="status red">&nbsp;</div>
            </div>
        </div>
        <div class="posttext pull-left">
            <h5 class="text-secondary"></h5>
            <p>@item.Descripiton</p>
        </div>
    
        <div class="clearfix"></div>
    </div>
</div>

}


@await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")