<div class="post">
    <form asp-action="AddPost" class="form newtopic" method="post">
        <div class="topwrap">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img src="~/Forum/images/avatar.png" alt="">
                    <div class="status green">&nbsp;</div>
                </div>

                <div class="icons">
                    <img src="images/icon3.jpg" alt=""><img src="images/icon4.jpg" alt=""><img src="~/Forum/images/icon5.jpg" alt=""><img src="images/icon6.jpg" alt="">
                </div>
            </div>
            <div class="posttext pull-left">

                <div>
                    <input type="text" name="title" placeholder="Başlık" class="form-control">
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <select class="form-check" name="topicTitleId">
                            <option value=" ">Lütfen Başlık Seçiniz</option>
                            @foreach (var topicTitle in ViewBag.TopicTitles)
                            {
                                <option value="@topicTitle.Value">@topicTitle.Text</option>
                            }
                        </select>
                    </div>

                </div>

                <div>
                    <textarea name="description" id="desc" placeholder="Açıklama" class="form-control"></textarea>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfobot">



            <div class="pull-right postreply m-b-15">

                <div class="pull-left"><button type="submit" class="btn btn-primary">Post</button></div>
                <div class="clearfix"></div>
            </div>


            <div class="clearfix"></div>
        </div>
    </form>
</div>