@model List<EnterForum_Consume.Dtos.Category.ResultCategoryDto>


<div>
    <ul class="navbar-nav">
        <li><a href="/Technology/Index/1">SPOR</a>

        <li><a href="/Sport/Index/5">KÜLTÜR/SANAT</a></li>

        <li><a href="/Shop/Index/8">SOSYAL MEDYA</a>


        <li><a href="/World/Index/12">MOBİL DÜNYA</a></li>

        <li><a href="/Mobil/Index/15">HABERLER</a></li>
    </ul>
</div>