@model List<EnterForum_Consume.Dtos.Category.ResultCategoryDto>


<div>
    <ul class="navbar-nav">
        <li><a href="/Technology/Index/1">Teknoloji</a>

        <li><a href="/Sport/Index/5">Spor</a></li>

        <li><a href="/Shop/Index/12">Alışveriş Siteleri</a>


        <li><a href="/World/Index/15">Dünyadan Haberler</a></li>

        <li><a href="/Mobil/Index/19">Mobil Dünya</a></li>
    </ul>
</div>