@model List<EnterForum_Consume.Dtos.TopicTitle.ResultTopicTitleDto>

<div class="col-md-4">
    <div class="sidebarblock">
        <h3> Konu Başlıkları</h3>
        <div class="divline"></div>
        <div class="blocktxt">
            <ul class="cats">
                @foreach(var item in Model)
                {

                    <li><a href="/Technology/Index/@item.TopicTitleID">@item.Name<span class="badge pull-right"></span></a></li>
                }
            </ul>
        </div>
    </div>
</div>